.ion-backbtn {
  font-size: 30px;
}
.locationform {
  border: 1px solid grey;
  border-radius: 20px;
}
.ion-content {
  padding: 10px;
}
.locationlist {
  padding-top: 20px;
}
.pick-icon {
  color: rgb(28, 100, 19);
  padding-right: 5px;
}
.drop-icon {
  color: rgb(231, 33, 33);
  padding-right: 5px;
}
