.ion-backbtn {
  font-size: 30px;
}
/* Add this CSS to your component's style file */
.custom-item {
  border-bottom: none;
  border-radius: 10px;
}
.active {
  border: 2px solid rgb(96, 138, 228);
}
